.logocontainer {
  padding: 0 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.alanlogo {
  height: 27vmin;
  border-radius: 15%;
  padding: 0 5%;
  margin: 3% 0;
}
@media (max-width: 600px) {
  .alanLogo {
    height: 35vmin;
  }
}
@media (max-width: 600px) {
  .logoContainer {
    flex-direction: column-reverse;
    text-align: center;
  }
}
